/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


a {
	text-decoration: none;
}
/*--------------------*/
body {
    background-color: #eeeef0;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    
}
.header,
.main {
    margin: 0 auto;
    width: 80%;
    height: auto;
}
.section-1 {
    margin-top: 15px;
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #2b2a2a;
}
    .photo {
        width: 50%;
        height: 100%;
    }
        .photo-img {
            margin-top: 15px;
            width: 100%;
            height: 90%;
            background: url(https://socialappe.com/upload/photos/2021/10/GEdO5tncOI5N2j4GliWG_20_22ea94fb29990af829a03a08062ae832_cover_full.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 80% 50%;
        }
    .name {
        width: 50%;
        height: 100%;
    }
        .name-fname,
        .name-begginer {
            width: 100%;
            height: 50%;
        }
            .fname {
                font-size: 28px;
                line-height: 9;
                letter-spacing: 1px;
                color: #c65654;
            }
            .begginer {
                color: #c65654;
                font-size: 26px;
                letter-spacing: 1px;
                font-weight: normal;
            }
.section-2 {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #2b2a2a;
}
    .contact-summary-experience {
        width: 100%;
        height: 100%;
        display: flex;
    }
        .contact,
        .summary,
        .experience {
            margin: 0 auto;
            width: 33%;
            height: 300px;
        }
        .title-cse {
            padding: 5px 0px 5px 5px;
            font-size: 21px;
            letter-spacing: 1px;
            color: #c65654;
        }
        .text-cse {
            font-size: 19px;
            letter-spacing: 1px;
            line-height: 25px;
            padding: 5px 0px 0px 5px;
            color: #dcdfd8;
            font-weight: normal;
        }
            .text-cse > li > a {
                font-size: 19px;
                color: #c65654;
                font-weight: normal;
            }
                .text-cse > li {
                    font-weight: bold;
                }
.section-3 {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #2b2a2a;
}
    .code-skills {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .code,
    .skills {
        width: 50%;
        height: 100%;
    }
        .text-code {
            font-size: 12px;
            letter-spacing: 1px;
            display: block;
            margin-left: 5px;
            color: #dcdfd8;
            line-height: 14px;
        }
        .skills-block {
            width: 100%;
            height: 18%;
            display: flex;
        }
            .skills-name {
                width: 20%;
                height: 100%;
            }
            .skills-progress {
                width: 80%;
                height: 100%;
            }
                .back-progress {
                    position: relative;
                    top: 35%;
                    width: 80%;
                    height: 30%;
                    background-color: #dcdfd8;
                }
                    .real-progress {
                        text-align: right;
                        height: 100%;
                        background-color: #c65654;
                    }
                        .html {
                            width: 90%;
                        }
                        .css {
                            width: 95%;
                        }
                        .js {
                            width: 50%;
                        }
                        .vscode {
                            width: 75%;
                        }
                        .ps {
                            width: 70%;
                        }
                            .text-progress {
                                font-weight: bold;
                                letter-spacing: 2px;
                                font-size: 16px;
                            }

            .text-skills {
                text-align: center;
                font-size: 19px;
                letter-spacing: 1px;
                line-height: 2.7;
                color: #dcdfd8;
                font-weight: normal;
            }
.section-4 {
    width: 100%;
    height: 50%;
    display: flex;
    background-color: #2b2a2a;
}
    .education-languages-languages-level {
        width: 100%;
        height: 100%;
        display: flex;
    }
        .education,
        .languages-level {
            width: 40%;
            height: 100%;
        }
        .languages {
            width: 20%;
            height: 100%;
        }
            .languages > ul > li {
                list-style-type: circle;
                list-style-position: inside;
                font-weight: normal;
            }
footer {
    margin: 5px auto;
    width: 80%;
    height: 100px;
}
    .section-5 {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        background-color: #2b2a2a;
    }
        .link,
        .year,
        .course {
            width: 33%;
            height: auto;
        }
            .link > a {
                font-size: 19px;
                color: #c65654;
                font-weight: normal;
            }
            .link {
                padding: 30px 0px 0px 5px;
            }
            .year {
                padding: 25px 0px 0px 5px;
            }
            .course {
                width: 150px;
                height: 100px;
                padding: 30px 20px 0px 0px;
            }